

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgb(100, 149, 237);;
}
.navbar-brand {
    color: white;
}

.nav-item {
    color: white;
}
.nav-link{
    color: white;
}


/* Jumbotron*/
.jumbotron{
    background-image:url("/images/img1.jpg");
    background-size: cover;
    height: 400px;
    text-align: center;
    position: relative;
    

}
.jumbotron .container {
    z-index: 1;
    position: relative;
    
}

.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    
}

.jumbotron .display-4 {
    color: white;
    margin-top: 100px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    text-transform: uppercase;
}

/* Info Panel */
.info-panel{
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -75px;
    background-color: white;
    padding: 30px;
}

.info-panel h4{
    font-size: 17px;
    
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p{
    font-size: 14px;
    margin-top: -5px;
    font-weight: 200;
}


.panel {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 30px;
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
}

/* Siderbar */
.sidebar{
    width: 190px;
    background-color:rgb(100, 149, 237);
    padding: 30px 0 0 0;
    height: 100%;
    position: fixed;
    top: 55px;
}

.sidebar img{
    border-radius: 50px;
}
.sidebar h5{
    color: white;
    margin-top: 10px;
}

.items-container a{
    text-decoration: none;
    color: white;

}

.menu-item{
    width: 210px;
    padding: 10px 0 10px 20px;
    transition: background-color .5s;
    cursor: pointer;
}

.menu-item:hover{
    background-color:rgb(135, 206, 250);
}

/* Table Index*/
td{
 max-width: 100px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

footer{
    height:50px;
    line-height:50px;
    position:absolute;
    bottom:10px;
    width:100%; 
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
